.row{
  display: flex;
  width: 40%;
  justify-content: space-between;
  line-height: 35px;
  margin-top: 45px;
}
@media (max-width:820px) {
  .row{
    width: 90%;
  }
}

@media (max-width:415px) {
  .row{
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 50%;
  }
}