.input{
    width: 370px;
    height: 42px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 2px 2px 4px 0px rgba(102, 218, 255, 0.50) inset, -2px -2px 4px 0px rgba(102, 218, 255, 0.50) inset, 0px 4px 4px 0px rgba(180, 237, 255, 0.75);
}
@media (max-width:415px){
    .input{
        width:270px;
        height: 38px;
    }
}